In [38]:
import numpy as np
import pandas as pd
import re

In [160]:
df = pd.read_csv('jobs.csv')

In [161]:
df.head()

  country      title                                               text
0      AT  Architect  https://www.linkedin.com/jobs/view/2589036509/...
1      AT    Manager  www.linkedin.com/jobs/view/2540581439/\n\nInfo...
2      AU     Inform  Information Technology Security Manager\n\nGlo...
3      CZ     IPSecu  https://www.linkedin.com/jobs/view/2410398234/...
4      CZ     Senior  https://www.linkedin.com/jobs/view/2487448959/...

In [162]:
df['text']

0      https://www.linkedin.com/jobs/view/2589036509/...
1      www.linkedin.com/jobs/view/2540581439/\n\nInfo...
2      Information Technology Security Manager\n\nGlo...
3      https://www.linkedin.com/jobs/view/2410398234/...
4      https://www.linkedin.com/jobs/view/2487448959/...
                             ...
106    Cyber Security Incident Responder\n\nCompany: ...
107    https://www.linkedin.com/jobs/view/2507722470/...
108    Cybersecurity Professional for Active Director...
109    Cyber Security Developer \n\nAbout the job\nDo...
110    Incident Response Engineer, \n\nWHO YOU ARE\nY...
Name: text, Length: 111, dtype: object

### Word Count

In [10]:
df['word_count'] = df['text'].apply(lambda x: len( x.strip(' ')))
df[[ 'text', 'word_count']]

                                                  text  word_count
0    https://www.linkedin.com/jobs/view/2589036509/...        2861
1    www.linkedin.com/jobs/view/2540581439/\n\nInfo...        4849
2    Information Technology Security Manager\n\nGlo...       10242
3    https://www.linkedin.com/jobs/view/2410398234/...        2673
4    https://www.linkedin.com/jobs/view/2487448959/...        3394
..                                                 ...         ...
106  Cyber Security Incident Responder\n\nCompany: ...        3976
107  https://www.linkedin.com/jobs/view/2507722470/...        3936
108  Cybersecurity Professional for Active Director...        3756
109  Cyber Security Developer \n\nAbout the job\nDo...        2702
110  Incident Response Engineer, \n\nWHO YOU ARE\nY...        4143

[111 rows x 2 columns]

In [9]:
df['word_count']

0       2861
1       4849
2      10242
3       2673
4       3394
       ...
106     3976
107     3936
108     3756
109     2702
110     4143
Name: word_count, Length: 111, dtype: int64

## Stopwords

In [102]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['stopwords'] = df['text'].apply(lambda x: len([x for x in x.split() if x in stop]))

In [103]:
df

,country,title,text,stopwords
0,AT,Architect,https://www.linkedin.com/jobs/view/2589036509/...,134
1,AT,Manager,www.linkedin.com/jobs/view/2540581439/\n\nInfo...,199
2,AU,Inform,Information Technology Security Manager\n\nGlo...,300
3,CZ,IPSecu,https://www.linkedin.com/jobs/view/2410398234/...,82
4,CZ,Senior,https://www.linkedin.com/jobs/view/2487448959/...,105
...,...,...,...,...
106,RS,IncidentResponder,Cyber Security Incident Responder\n\nCompany: ...,138
107,RS,ProfessionalAD,https://www.linkedin.com/jobs/view/2507722470/...,178
108,RS,ProfessionalAD,Cybersecurity Professional for Active Director...,177
109,SE,CyberSec,Cyber Security Developer \n\nAbout the job\nDo...,142
110,SE,Incident,"Incident Response Engineer, \n\nWHO YOU ARE\nY...",238

In [104]:
df['title']

0              Architect
1                Manager
2                 Inform
3                 IPSecu
4                 Senior
             ...
106    IncidentResponder
107       ProfessionalAD
108       ProfessionalAD
109             CyberSec
110             Incident
Name: title, Length: 111, dtype: object

## Remove links

In [154]:
# df['text'] = df['text'].apply(lambda x: '\n\n'+x)

In [163]:
df['lf_text'] = df['text'].apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x))

df['lf_text'][:20]

0     \n\nInformation Security Architect\n\nCopmany:...
1     \n\nInformation Technology Security Manager\n\...
2     Information Technology Security Manager\n\nGlo...
3     \n\n  IP Security Architect\n\n\n      About t...
4     \n    \n  Senior Information Security Analyst\...
5     \n\n  Security Analyst\n\n\n      About the jo...
6     \n\n  IT Security Analyst\n\n\n      About the...
7     \n   \n\n  CYBER SECURITY & IT COMPLIANCE MANA...
8     \n\n  Infrastructure Security Architect - Prag...
9     \n\n  Group Product Manager\n\n      About the...
10    \n\n  Application Security Architect\n\n\nEasy...
11    \n\n  Security Engineer\n\n\n      About the j...
12    Ã¯Â»Â¿\n\nSpace Cybersecurity Specialist at CGI\n...
13    Ã¯Â»Â¿\n\nCyber Security Specialist / Penetration...
14    Ã¯Â»Â¿\n Cyber-Security Architect at Eaton\n\n\n ...
15    Ã¯Â»Â¿\n\n\nSecurity and Risk Manager at IBM\n\n\...
16    Ã¯Â»Â¿\n\n\n Cyber Security Expert at Zentiva\n\n...
17    Ã¯Â»Â¿ \n\nCyber Security Architect at Vodafone\n...
18    \n\n  Tier 1 Security Engineer\n\n      About ...
19    \n\n  Sr. Security Engineer\n\n\n      About t...
Name: lf_text, dtype: object

In [164]:
df['lf_text'][30:50]

30    Ã¯Â»Â¿\n\n\nSystem Engineer at SolarWinds\n\n\n  ...
31    Ã¯Â»Â¿\n \n Cyber Security Analyst at Honeywell\n...
32    \n\n  Security Engineer\n\n      About the job...
33    Ã¯Â»Â¿\n\nSecurity Consultant at Accenture\n\n\n ...
34    Ã¯Â»Â¿\n\nSecurity Operations Analyst at 2K\n\n\n...
35    Ã¯Â»Â¿\n\nSenior Security Manager at TietoEVRY\n\...
36    Ã¯Â»Â¿\n  \n\n\n_**Network Engineer | * Rockwell ...
37    Ã¯Â»Â¿\n\nSOC Analyst at Fortinet\n\n\n      Abou...
38    Ã¯Â»Â¿\n\n\nSenior Software Engineer in Test, Tal...
39    Product Owner, \n\nCyber Range\n\nWhat you wil...
40    Information Security Officer-GRC\n\n\nWhat Is ...
41    Security Engineer\n\nYour key job responsibili...
42    Senior Security Researcher\n\nJob Description\...
43    Application Security Specialist WIP\n\nTHE ROL...
44    \n\n  Security Engineer\n\nNetskope < Valencia...
45    \n\n  Senior Security Engineer, Incident Respo...
46    \n\n  Security Engineer\n\nGrupo ICA < Parets ...
47    \n\n  Information Technology Manager\n\nSenito...
48    \n\n  Senior Digital Forensics Consultant\n\nV...
49    \n\n  JUNIOR SECURITY ENGINEER (D/M/W)\n\nAirb...
Name: lf_text, dtype: object

In [165]:
# Remove the 'Ã¯Â»Â¿' from some rows and get job title position
df['job_title'] = df['lf_text'].apply(lambda x: (re.sub(r'^.*?\n', '\n', x).strip()).split('\n')[0] )

In [172]:
df.iloc[57]

country                                                     HU
title                                                 Engineer
text         Security Engineer\nhttps://www.linkedin.com/jo...
lf_text      Security Engineer\n\n\nCompany: Emarsys\nLocat...
job_title                                     Company: Emarsys
Name: 57, dtype: object

In [171]:
for i in range(len(df['job_title'])):
    print(i, df['job_title'][i])

0 Information Security Architect
1 Information Technology Security Manager
2 Global Blue < Vienna,
3 IP Security Architect
4 Senior Information Security Analyst
5 Security Analyst
6 IT Security Analyst
7 CYBER SECURITY & IT COMPLIANCE MANAGER (M/F)
8 Infrastructure Security Architect - Prague
9 Group Product Manager
10 Application Security Architect
11 Security Engineer
12 Space Cybersecurity Specialist at CGI
13 Cyber Security Specialist / Penetration Tester at Resideo
14 Cyber-Security Architect at Eaton
15 Security and Risk Manager at IBM
16 Cyber Security Expert at Zentiva
17 Cyber Security Architect at Vodafone
18 Tier 1 Security Engineer
19 Sr. Security Engineer
20 INFORMATION SECURITY ANALYST I at TE Connectivity
21 Security QA Engineer at Collibra
22 Information Security Engineer (f/m/d) at Deutsche BÃƒÂ¶rse
23 We can offer this position as part time job in case of your
24 Threat Hunting & Response Senior Analyst
25 Associate Security Engineer
26 Backend Developer Go/ C++ (CyberSecurity) at Acronis
27 Security Architect - Network
28 Senior Security Operations Engineer at Pure Storage
29 Associate Offensive Security Engineer, Managed Services
30 System Engineer at SolarWinds
31 Cyber Security Analyst at Honeywell
32 Security Engineer
33 Security Consultant at Accenture
34 Security Operations Analyst at 2K
35 Senior Security Manager at TietoEVRY
36 _**Network Engineer | * Rockwell Automation
37 SOC Analyst at Fortinet
38 Senior Software Engineer in Test, Talent Community Team at
39 Cyber Range
40 What Is Needed In This Role
41 Your key job responsibilities as the Security Engineer in Europe (Remote) will include:
42 Job Description
43 THE ROLE
44 Security Engineer
45 Senior Security Engineer, Incident Response
46 Security Engineer
47 Information Technology Manager
48 Senior Digital Forensics Consultant
49 JUNIOR SECURITY ENGINEER (D/M/W)
50 Aircraft Cyber Security Engineer
51 Presales Security Consultant (Germany)
52 Company: Betsson Group Budapest
53 Company: Diligent Corporation
54 Company: Play'n GO
55 Company: KPMG Global Services Hungary
56 Company: Traffit Budapest
57 Company: Emarsys
58 Company: INNOVIEW
59 Company: LogMeIn
60 Company: Avon
61 Company: Epicor Software
62 Company: FireEye, Inc.
63 Company: EPAM Systems
64 Company: Genesys
65 Company: Diligent Hungary
66 Company: NISZ Zrt.
67 Company: T-Systems Hungary Ltd.
68 Company: Accenture Hungary
69 Company: Docler Holding Budapest
70 Company: MP Solutions Ltd.
71 Company: Norsk Hydro
72 Company: Deutsche Telekom IT Solutions HU
73 Advanced Cyber Security Engineer
74 Security Threat Monitoring Analyst
75 The following requirements apply to a successful candidate:
76 Responsibilities
77 Your next challenge
78 Planning, implementation and administration of security systems (SIEM, PAM, firewalls, IDS / IPS, etc.);
79 Your responsibilities:
80 Area:
81 What Is Needed In This Role
82 Job Description
83 The SOC Analyst receives, researches, triages, and documents all security events and alerts as they are received. This individual support multiple security-related platforms and technologies, interfacing with others within the IT organization, as well as other internal business units and external customers/partners. Events will be generated from endpoints, networks, security information and event management (SIEM) systems, threat intelligence platforms, employees, third parties and other sources. While working with best-of-the-breed security systems/tools and going through a lot of trainings, you will improve your cyber security skills and knowledge daily.
84 You will be responsible for technical IT and network security in Technology division and you will contribute to making sure that our solutions meet security best practices and comply to highest industry standards. Your input will be critical when building customer specific IT and Network solutions. You will be part of cybersecurity incidents investigation and remediation team. Primary focus of your work will be technical (e.g. hardening of our solutions) rather than creating documents.
85 Job Description
86 About the job:
87 Role/Responsibilities
88 In This Position, You Will
89 Responsibilities
90 JOB PURPOSE:
91 What you'll do
92 Experience needed
93 Ã¯Â‚Â§ Perception of the security of the network perimeter of organizations, KDV, mobile devices;
94 Job Description
95 Responsibilities
96 Responsibilities
97 What you'll do
98 About The Role:
99 Your daily responsibilities:
100 Position Description
101 Role & Responsibilities
102 Design your lifestyle as a top freelance developer, with the freedom to work however, wherever, on your terms.
103 Company: Control4
104 Company: Raiffeisen banka a.d. Beograd
105 Seniority Level: Mid-Senior level
106 Company: Tech Data
107 Cybersecurity Professional for Active Directory (w/m/d)
108 Company: Siemens Energy
109 About the job
110 WHO YOU ARE