In [23]:
import numpy as np
import pandas as pd
import re

In [32]:
df = pd.read_csv('jobs.csv')

In [33]:
df.head()

  country      title                                               text
0      AT  Architect  https://www.linkedin.com/jobs/view/2589036509/...
1      AT    Manager  www.linkedin.com/jobs/view/2540581439/\n\nInfo...
2      AU     Inform  https://www.linkedin.com/company/global-blue/l...
3      CZ     IPSecu  https://www.linkedin.com/jobs/view/2410398234/...
4      CZ     Senior  https://www.linkedin.com/jobs/view/2487448959/...

In [34]:
df['text']

0      https://www.linkedin.com/jobs/view/2589036509/...
1      www.linkedin.com/jobs/view/2540581439/\n\nInfo...
2      https://www.linkedin.com/company/global-blue/l...
3      https://www.linkedin.com/jobs/view/2410398234/...
4      https://www.linkedin.com/jobs/view/2487448959/...
                             ...
106    https://www.linkedin.com/jobs/view/26120892329...
107    https://www.linkedin.com/jobs/view/2507722470/...
108    https://www.linkedin.com/jobs/view/2507722470/...
109    https://www.linkedin.com/jobs/view/2507722470/...
110    https://www.linkedin.com/jobs/view/25077224709...
Name: text, Length: 111, dtype: object

### Word Count

In [35]:
df['word_count'] = df['text'].apply(lambda x: len( x.strip(' ')))
df[[ 'text', 'word_count']]

                                                  text  word_count
0    https://www.linkedin.com/jobs/view/2589036509/...        2861
1    www.linkedin.com/jobs/view/2540581439/\n\nInfo...        4849
2    https://www.linkedin.com/company/global-blue/l...       10293
3    https://www.linkedin.com/jobs/view/2410398234/...        2673
4    https://www.linkedin.com/jobs/view/2487448959/...        3394
..                                                 ...         ...
106  https://www.linkedin.com/jobs/view/26120892329...        4025
107  https://www.linkedin.com/jobs/view/2507722470/...        3936
108  https://www.linkedin.com/jobs/view/2507722470/...        3757
109  https://www.linkedin.com/jobs/view/2507722470/...        2750
110  https://www.linkedin.com/jobs/view/25077224709...        4192

[111 rows x 2 columns]

In [36]:
df['word_count']

0       2861
1       4849
2      10293
3       2673
4       3394
       ...
106     4025
107     3936
108     3757
109     2750
110     4192
Name: word_count, Length: 111, dtype: int64

## Stopwords

In [37]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['stopwords'] = df['text'].apply(lambda x: len([x for x in x.split() if x in stop]))

In [49]:
df.head()

,country,title,text,word_count,stopwords,lf_text,job_title
0,AT,Architect,https://www.linkedin.com/jobs/view/2589036509/...,2861,134,\n\nInformation Security Architect\n\nCopmany:...,Information Security Architect
1,AT,Manager,www.linkedin.com/jobs/view/2540581439/\n\nInfo...,4849,199,\n\nInformation Technology Security Manager\n\...,Information Technology Security Manager
2,AU,Inform,https://www.linkedin.com/company/global-blue/l...,10293,300,\n\nInformation Technology Security Manager\n\...,Information Technology Security Manager
3,CZ,IPSecu,https://www.linkedin.com/jobs/view/2410398234/...,2673,82,\n\n IP Security Architect\n\n\n About t...,IP Security Architect
4,CZ,Senior,https://www.linkedin.com/jobs/view/2487448959/...,3394,105,\n \n Senior Information Security Analyst\...,Senior Information Security Analyst

## Remove links

In [40]:
# df['text'] = df['text'].apply(lambda x: '\n\n'+x)

In [41]:
df['lf_text'] = df['text'].apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x))

df['lf_text'][:20]

0     \n\nInformation Security Architect\n\nCopmany:...
1     \n\nInformation Technology Security Manager\n\...
2     \n\nInformation Technology Security Manager\n\...
3     \n\n  IP Security Architect\n\n\n      About t...
4     \n    \n  Senior Information Security Analyst\...
5     \n\n  Security Analyst\n\n\n      About the jo...
6     \n\n  IT Security Analyst\n\n\n      About the...
7     \n   \n\n  CYBER SECURITY & IT COMPLIANCE MANA...
8     \n\n  Infrastructure Security Architect \n\nPr...
9     \n\n  Group Product Manager\n\n      About the...
10    \n\n  Application Security Architect\n\n\nEasy...
11    \n\n  Security Engineer\n\n\n      About the j...
12    Ã¯Â»Â¿\n\nSpace Cybersecurity Specialist \n\n    ...
13    Ã¯Â»Â¿\n\nCyber Security Specialist / Penetration...
14    Ã¯Â»Â¿\n Cyber-Security Architect at Eaton\n\n\n ...
15    Ã¯Â»Â¿\n\n\nSecurity and Risk Manager at IBM\n\n\...
16    Ã¯Â»Â¿\n\n\n Cyber Security Expert at Zentiva\n\n...
17    Ã¯Â»Â¿ \n\nCyber Security Architect at Vodafone\n...
18    \n\n  Tier 1 Security Engineer\n\n      About ...
19    \n\n  Sr. Security Engineer\n\n\n      About t...
Name: lf_text, dtype: object

In [43]:
# Remove the 'Ã¯Â»Â¿' from some rows and get job title position
df['job_title'] = df['lf_text'].apply(lambda x: (re.sub(r'^.*?\n', '\n', x).strip()).split('\n')[0] )

In [44]:
df.iloc[57]

country                                                      HU
title                                                  Engineer
text          https://www.linkedin.com/jobs/view/2494545243/...
word_count                                                 2689
stopwords                                                    72
lf_text       \n\nSecurity Engineer\n\n\nCompany: Emarsys\nL...
job_title                                     Security Engineer
Name: 57, dtype: object

In [45]:
for i in range(len(df['job_title'])):
    print(i, df['job_title'][i])

0 Information Security Architect
1 Information Technology Security Manager
2 Information Technology Security Manager
3 IP Security Architect
4 Senior Information Security Analyst
5 Security Analyst
6 IT Security Analyst
7 CYBER SECURITY & IT COMPLIANCE MANAGER (M/F)
8 Infrastructure Security Architect
9 Group Product Manager
10 Application Security Architect
11 Security Engineer
12 Space Cybersecurity Specialist
13 Cyber Security Specialist / Penetration Tester at Resideo
14 Cyber-Security Architect at Eaton
15 Security and Risk Manager at IBM
16 Cyber Security Expert at Zentiva
17 Cyber Security Architect at Vodafone
18 Tier 1 Security Engineer
19 Sr. Security Engineer
20 INFORMATION SECURITY ANALYST I at TE Connectivity
21 Security QA Engineer
22 Information Security Engineer
23 Principal Security Architect
24 Threat Hunting & Response Senior Analyst
25 Associate Security Engineer
26 Backend Developer Go/ C++ (CyberSecurity) at Acronis
27 Security Architect - Network
28 Senior Security Operations Engineer at Pure Storage
29 Associate Offensive Security Engineer, Managed Services
30 System Engineer at SolarWinds
31 Cyber Security Analyst at Honeywell
32 Security Engineer
33 Security Consultant at Accenture
34 Security Operations Analyst at 2K
35 Senior Security Manager at TietoEVRY
36 Network Engineer
37 SOC Analyst at Fortinet
38 Senior Software Engineer
39 Cyber Range
40 Information Security Officer-GRC
41 Security Engineer
42 Senior Security Researcher
43 Application Security Specialist WIP
44 Security Engineer
45 Senior Security Engineer, Incident Response
46 Security Engineer
47 Information Technology Manager
48 Senior Digital Forensics Consultant
49 JUNIOR SECURITY ENGINEER (D/M/W)
50 Aircraft Cyber Security Engineer
51 Presales Security Consultant
52 Information Security Engineer
53 Security Analyst
54 Information Security Engineer
55 Information Security Analyst
56 Cyber & Information Security Audit Manager
57 Security Engineer
58 IT Security Analyst
59 Information Security Engineer
60 Cyber Security Analyst
61 IT Security Engineer
62 Senior Security Researcher
63 Security Analyst
64 Security Engineer
65 Security Analyst
66 Cyber Security Consultant
67 Network Security Engineer
68 Cyber Security Consultant
69 IT Security Specialist
70 Chief Security Architect
71 L3 Security Engineer, Cyber Security
72 L3 Security Engineer, Cyber Security
73 Advanced Cyber Security Engineer
74 Security Threat Monitoring Analyst
75 Cyber Security Specialist
76 Information Security Lead
77 National Security Expert
78 Cyber Security Specalist
79 Application Security Engineer
80 Leader of Team for SOC
81 Penetration Tester
82 Senior Security Architect in Cyber Design
83 SOC Analyst
84 Technical Security Manager
85 IT Security Engineer in Network Security Platform Support Team
86 Information Security Analyst
87 Sr. Endpoint CyberSecurity Engineer
88 Security Engineer (Incident Response)
89 Security Architect
90 IT Security Expert
91 Junior Security Engineer - INTERN
92 IAM Security Expert
93 Cyber Security Specalist
94 Penetration tester (White Hat Hacker)
95 Application Security Engineer or Senior Application Security Engineer
96 Security Operations Engineer (SecOps)
97 Embedded Security Engineer
98 Information Security Officer
99 Network Security Administrator
100 Senior Infrastructure Engineer
101 Penetration Tester
102 Senior AWS Developer
103 Cybersecurity Engineer
104 Information System Security Engineer
105 Information Security Engineer
106 Cyber Security Incident Responder
107 Cybersecurity Professional for Active Directory (w/m/d)
108 Cybersecurity Professional for Active Directory (w/m/d)
109 Cyber Security Developer
110 Incident Response Engineer

In [47]:
df['lf_text']

0      \n\nInformation Security Architect\n\nCopmany:...
1      \n\nInformation Technology Security Manager\n\...
2      \n\nInformation Technology Security Manager\n\...
3      \n\n  IP Security Architect\n\n\n      About t...
4      \n    \n  Senior Information Security Analyst\...
                             ...
106    \n\nCyber Security Incident Responder\n\nCompa...
107    \n\nCybersecurity Professional for Active Dire...
108    \n\nCybersecurity Professional for Active Dire...
109    \n\nCyber Security Developer \n\nAbout the job...
110    \n\nIncident Response Engineer\n \n\nWHO YOU A...
Name: lf_text, Length: 111, dtype: object

### Removing punctuations

In [57]:
# df['tweet'] = 
df['lf_text'] = df['lf_text'].str.replace('[^\w\s]','')

C:\Users\elsha\AppData\Local\Temp/ipykernel_8992/2057007632.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['lf_text'] = df['lf_text'].str.replace('[^\w\s]','')

### Remove stop words

In [50]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [51]:
df['lf_text'] = df['lf_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [55]:
df['lf_text'].head()

0    Information Security Architect Copmany: SWAROV...
1    Information Technology Security Manager Copman...
2    Information Technology Security Manager Global...
3    IP Security Architect About job *Description *...
4    Senior Information Security Analyst About job ...
Name: lf_text, dtype: object

### Common words

In [60]:
freq = pd.Series(' '.join(df['lf_text']).split()).value_counts()[-20:]
freq

calling         1
O2              1
special         1
path            1
SAFE            1
ondemand        1
Visio           1
complexities    1
suitable        1
DDI             1
versions        1
CiscoÃ¢s         1
Github          1
Promote         1
labs            1
costs           1
UCS             1
6500            1
9500            1
applicable      1
dtype: int64

### Lemmatization

In [66]:
from textblob import Word
df['text'] = df['lf_text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['text'].head()

0    Information Security Architect Copmany SWAROVS...
1    Information Technology Security Manager Copman...
2    Information Technology Security Manager Global...
3    IP Security Architect About job Description Th...
4    Senior Information Security Analyst About job ...
Name: text, dtype: object

### Tokenization

In [67]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\elsha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\elsha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [68]:
TextBlob(df['text'][1]).words

WordList(['Information', 'Technology', 'Security', 'Manager', 'Copmany', 'Global', 'Blue', 'Location', 'Vienna', 'Austria', 'Employment', 'Type', 'Fulltime', 'Industry', 'Financial', 'Services', 'Size', '10015000', 'employee', 'Experience', 'MidSenior', 'level', 'About', 'job', 'IT', 'Security', 'Manager', 'Business', 'UnitFunction', 'Technology', 'Information', 'Security', 'Reports', 'to', 'AVP', 'IT', 'Security', 'Nature', 'aim', 'position', 'The', 'IT', 'Security', 'Manager', 'provide', 'security', 'service', 'part', 'IT', 'Security', 'team', 'The', 'team', 'review', 'cover', 'wide', 'range', 'product', 'initiative', 'project', 'respect', 'security', 'compliance', 'governance', 'risk', 'management', 'close', 'collaboration', 'core', 'infrastructure', 'product', 'processing', 'team', 'Global', 'Blue', 'group', 'Main', 'duty', 'responsibility', 'Support', 'internal', 'stakeholder', 'delivering', 'secure', 'IT', 'system', 'Participate', 'contribute', 'corporate', 'SOX', 'PCI', 'DSS', 'compliance', 'program', 'governing', 'executing', 'internal', 'IT', 'control', 'evaluation', 'design', 'operational', 'effectiveness', 'determining', 'exposure', 'risk', 'developing', 'remediation', 'strategy', 'performing', 'regular', 'internal', 'IT', 'audit', 'validation', 'definition', 'improvement', 'short', 'fallings', 'review', 'evaluate', 'test', 'application', 'security', 'control', 'provide', 'recommendation', 'guidance', 'identified', 'security', 'andor', 'control', 'risk', 'Support', 'team', 'day2day', 'security', 'activity', 'participate', 'change', 'management', 'process', 'test', 'identify', 'network', 'system', 'vulnerability', 'incl', 'coordination', 'tracking', 'remediation', 'identified', 'weakness', 'operate', 'improve', 'SPLUNK', 'security', 'toolset', 'regard', 'security', 'relevant', 'event', 'Develop', 'strong', 'understanding', 'business', 'system', 'process', 'Communicate', 'complex', 'technical', 'issue', 'simplified', 'term', 'relevant', 'staff', 'Document', 'time', 'time', 'system', 'architecture', 'advise', 'security', 'best', 'practice', 'Reporting', 'collaboration', 'The', 'holder', 'position', 'report', 'solidline', 'AVP', 'IT', 'Security', 'The', 'holder', 'position', 'work', 'within', 'IT', 'Security', 'team', 'The', 'holder', 'position', 'closely', 'collaborate', 'various', 'IT', 'department', 'IO', 'Product', 'Management', 'Internal', 'Audit', 'Finance', 'The', 'position', 'external', 'visibility', 'within', 'GB', 'group', 'Key', 'Competencies', 'Strong', 'experience', 'IT', 'general', 'control', 'environment', 'Some', 'experience', 'SOX', 'ISO', 'PCI', 'DSS', 'compliance', 'organization', 'At', 'least', 'one', 'certified', 'strong', 'plus', 'Clear', 'understanding', 'IT', 'audit', 'methodology', 'Strong', 'attention', 'detail', 'analytical', 'mind', 'outstanding', 'problemsolving', 'skill', 'attitude', 'Ability', 'work', 'pressure', 'fastpaced', 'environment', 'Experience', 'financial', 'service', 'andor', 'payment', 'company', 'preferred', 'Experience', 'engaging', 'stakeholder', 'level', 'incl', 'Clevel', 'seniority', 'help', 'understand', 'business', 'proposition', 'security', 'risk', 'profile', 'need', 'addressed', 'Preferable', 'skill', 'competency', 'Industry', 'proofed', 'knowledge', 'experience', 'IT', 'audit', 'Strong', 'profound', 'knowledge', 'technology', 'product', 'function', 'ITIL', 'certified', 'PCI', 'DSS', 'Professional', 'or', 'ISO27k', 'series', 'preferred', 'willingness', 'get', 'trained', 'fast', 'track', 'one', 'Ability', 'interface', 'business', 'IT', 'project', 'team', 'utilizing', 'consulting', 'negotiating', 'skill', 'Ability', 'undertake', 'complete', 'task', 'independently', 'meet', 'schedule', 'delivery', 'timeline', 'move', 'swiftly', 'concept', 'theory', 'action', 'Written', 'communication', 'skill', 'use', 'preparing', 'formal', 'documentation', 'policy', 'standard', 'training', 'material', 'Verbal', 'skill', 'include', 'ability', 'clearly', 'articulate', 'thought', 'deliver', 'presentation', 'training', 'level', 'Fluent', 'English', 'language', 'verbal', 'written', 'Education', 'qualification', 'Bachelors', 'Degree', 'higher', 'Computer', 'Science', 'Engineering', 'Economics', 'equivalent', 'Experience', '3', 'year', 'experience', 'Preferable', 'multinational', 'environment', 'Our', 'Offer', 'International', 'environment', 'inspiring', 'highly', 'motivated', 'colleague', '35', 'nationality', 'English', 'official', 'working', 'language', 'State', 'art', 'office', 'environment', 'well', 'connected', 'public', 'transportation', 'system', 'Flexible', 'working', 'time', 'distanceremote', 'work', 'protect', 'health', 'employee', 'family', 'pandemic', 'situation', 'Other', 'benefit', 'wellbeing', 'including', 'discount', 'gym', 'meal', 'voucher', 'language', 'course', 'company', 'doctor', 'etc', 'Global', 'Blue', 'guarantee', 'competitive', 'performancerelated', 'salary', 'depending', 'professional', 'personal', 'qualification', 'As', 'required', 'Austrian', 'federal', 'law', 'hereby', 'state', 'guaranteed', 'legal', 'annual', 'Min', 'compensation', 'according', 'Austrian', 'collective', 'agreement', 'amount', '3653006', 'EUR', 'however', 'total', 'compensation', 'subject', 'individual', 'agreement'])

### N grams

In [74]:
TextBlob(df['text'][0]).ngrams(2)[:4]

[WordList(['Information', 'Security']),
 WordList(['Security', 'Architect']),
 WordList(['Architect', 'Copmany']),
 WordList(['Copmany', 'SWAROVSKI'])]

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))

In [94]:
vect = tfidf.fit_transform(df['text'])

In [99]:
tf_df = pd.DataFrame(vect[0].T.todense(), index=tfidf.get_feature_names_out(), 
             columns=["TF-IDF"]).sort_values('TF-IDF', ascending=False)
tf_df.head()

               TF-IDF
information  0.397172
security     0.356113
program      0.298509
salary       0.217892
define       0.166721

In [101]:
tf_df.head(10)

               TF-IDF
information  0.397172
security     0.356113
program      0.298509
salary       0.217892
define       0.166721
policy       0.164488
control      0.152612
gross        0.151267
unique       0.151267
framework    0.149255