In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import spacy
import pyLDAvis.gensim_models
pyLDAvis.enable_notebook()# Visualise inside a notebook
import en_core_web_md
from gensim.corpora.dictionary import Dictionary
from gensim.models import LdaMulticore
from gensim.models import CoherenceModel

C:\Users\elsha\anaconda3\lib\site-packages\seaborn\rcmod.py:400: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(mpl.__version__) >= "3.0":
C:\Users\elsha\anaconda3\lib\site-packages\setuptools\_distutils\version.py:351: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  other = LooseVersion(other)

In [4]:
df = pd.read_csv('../data/jobs.csv')
df.head()

  country      title                                               text
0      AT     Inform  https://www.linkedin.com/company/global-blue/l...
1      AT  Architect  https://www.linkedin.com/jobs/view/2589036509/...
2      AT    Manager  www.linkedin.com/jobs/view/2540581439/\n\nInfo...
3      AT    Analyst  https://www.linkedin.com/jobs/view/2997674064\...
4      AT   Engineer  https://www.linkedin.com/jobs/view/3020920801\...

In [5]:
nlp = en_core_web_md.load()
# Tags I want to remove from the text
removal= ['ADV','PRON','CCONJ','PUNCT','PART','DET','ADP','SPACE', 'NUM', 'SYM']

tokens = []
for summary in nlp.pipe(df['text']):
    proj_tok= [token.lemma_.lower() for token in summary if token.pos_ not in removal and not token.is_stop and token.is_alpha]
    tokens.append(proj_tok)

In [8]:
df['tokens'] = tokens
df['tokens']

0      [information, technology, security, manager, g...
1      [information, security, architect, copmany, sw...
2      [information, technology, security, manager, c...
3      [threat, detection, analyst, company, radar, c...
4      [security, engineer, company, global, blue, lo...
                             ...
116    [cyber, security, incident, responder, company...
117    [cybersecurity, professional, active, director...
118    [cyber, security, developer, job, strong, inte...
119    [cybersecurity, professional, active, director...
120    [incident, response, engineer, curious, ikea, ...
Name: tokens, Length: 121, dtype: object

In [9]:
dictionary = Dictionary(df['tokens'])

In [14]:
dictionary.filter_extremes(no_below=5, no_above=0.5, keep_n=1000)

We are now ready to construct the corpus using the dictionary from above and the doc2bow function. The function doc2bow() simply counts the number of occurrences of each distinct word, converts the word to its integer word id and returns the result as a sparse vector:

In [15]:
corpus = [dictionary.doc2bow(doc) for doc in df['tokens']]